{% extends "layouts.theme" %}

{% block content %}

		  <div class="container">
          <div><ul class="rslides rslides1">
  	<li><img src="{{'img/1.jpg' | asset_url }}" class="radius-5" alt="">
  	
  	</li>
	</ul>
		</div>
        </div>
        <div class="container">
		  <div class="left product-box">
          <h3 class="head">Internet Cafe</h3>
          <div class="cafe">          <img src="{{'img/cafe.png' | asset_url }}" style="margin-left: 38%;" alt="Internet Cafe">
          <ul>
          <li><strong>About our cafe</strong> - Universal computers and typing center was first internet cafe in Batala.
          </li> 
          <li><strong>Infrastructure</strong> - We have settled up high speed computers and internet. We have all sytems placed in diffrent cabins.
          </li>
          <li><strong>Services</strong> - Our internet cafe can be used for smooth internet surfing, chatting, voice and video chat and lot more.
          </li>
          </ul>
          </div>
		  </div>
		  <div class="left product-box" style="margin-left:20px;">
          <h3 class="head">Web Designing</h3>
          <div class="cafe">
           <img src="{{'img/web-design.png' | asset_url }}" style="margin-left: 38%;" alt="Web Designing">
           <p><strong style="color:#d3a535 !important">Do you need a website for your business?</strong><br />We can help you in way. We design and develop websites for small to big organisations in a very affordable price.</p> <p>If you are serious about your business then, stop thinking & Start acting. Contact us to get your business website.
           </p>
           </div>
          </div>
          <div class="right product-box">
          <h3 class="head">Computer Courses</h3>
          <div class="cafe">
           <img src="{{'img/computer.png' | asset_url }}" style="margin-left: 38%;" alt="Computer">
           <p>
           Nowadays, having knowledge of computer is must for almost every job. We offer different computer courses to make you expert in computers. 
           </p>
           <p><strong style="color:#d34435 !important">
           Computer courses -
           </strong>
           Basics, Tally, Corel draw, Adobe photoshop, HTML, C++, Visual basic, English, Punjabi & Hindi  
Computer Typing, Internet. <a href="/course-fees.php" style="color:#d34435 !important">See fees & duration>></a></p>
           
           </div>
           </div>
           <div class="clear">
          </div>
          <div class="text-box other left" style="margin-top:20px;">
           <h3 class="head">Other Services</h3>
            <div class="cafe"><img src="{{'img/solutions.png' | asset_url }}" style="margin-left: 38%;" alt="Others Services">
            <ul>
           <li>
           <strong>
           Apply GOVT. & private jobs
           </strong>
           </li>
            <li>
           <strong>
           Apply passport online
           </strong>
           </li>
           <li>
           <strong>
           Visiting card printing
           </strong>
           </li>
           <li>
           <strong>
           Typing in english, hindi, punjabi
           </strong>
           </li>
           <li>
           <strong>
           Fax facility, colour & black/white photostat, laser printing, spiral binding, documents/mobile lamination and lot more.
           </strong>
           </li>
           </ul>
           </div>
          </div>
           <div class="text-box about-us left" >
           <h3 class="head">About Us</h3>
           <div class="cafe">
           <p>
          We are one of the oldest computer services provider in Batala. We established our computers business before 1999. We were first who established internet cafe in Batala. Till now we have reputed name in computers services.</p> <p>Universal computers & typing center is known as ideal computer center. We are helping people to get jobs, connect them with their loved ones through internet and <a href="/about-us.php">more>></a>
           </p>
          
          </div>
          
           <div class="tickercontainer"><div class="mask"><ul id="webticker" class="newsticker" style="width: 1524px; left: -33.550000000000004px;">	
					<li>
						<a href="/images/image3.jpg' | asset_url }}"><img src="{{'img/thumb/thumb3.jpg' | asset_url }}" width='100px'></a>
					</li><li>
						<a href="/images/image4.jpg' | asset_url }}"><img src="{{'img/thumb/thumb4.jpg' | asset_url }}" width='100px'></a>
					</li><li>
						<a href="/images/image5.jpg' | asset_url }}"><img src="{{'img/thumb/thumb5.jpg' | asset_url }}" width='100px'></a>
					</li>
</ul><span class="tickeroverlay-left">&nbsp;</span><span class="tickeroverlay-right">&nbsp;</span></div></div>
	</div>
          <div class="clear">
          </div>
          <div class="h-map">
          <a href="https://maps.google.co.in/maps?q=universal+computers+batala&ll=31.81387,75.207918&spn=0.004951,0.010568&fb=1&gl=in&hq=universal+computers&hnear=0x391bc2565c6556b1:0x5597b03d1be5405b,Batala,+Punjab&cid=0,0,11949738337742563329&t=m&z=17" rel="no-follow"><img src="{{'img/map.jpg' | asset_url }}"></a>
          </div>
          </div>
{% endblock %}